.App {
  text-align: center;
   margin-top: 180px; 
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(228, 51, 133);
  font-size: 80px;
  
}

.backApp{
  background-color: rgb(207, 197, 161);
}